[Unit]
Description=Run Garmin activities sync at 13:00 UTC (15:00 Paris été)
Requires=garmin-sync-activities-midday.service

[Timer]
OnCalendar=*-*-* 13:00:00 UTC
Persistent=true
Unit=garmin-sync-activities-midday.service

[Install]
WantedBy=timers.target
